@charset "utf-8";

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

body {
    text-align: center;
    background-color: #F4A460;
}

h1 p {
    text-align: center;
    font-size: 50px;
    margin-top: 1px;
    font-family: initial;
}

h2 p {
    text-align: center;
    font-size: 25px;
}

img {
    box-shadow: 10px 10px 10px black;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 25px;
}

.img1 {
    width: 25%;
    height: 25%;
    margin-left: 285px;
}

.img2 {
    width: 25%;
    height: 25%;
    margin-left: 135px;
}